absl-py==2.1.0
aiobotocore==2.20.0
aiohttp
aiohttp-retry==2.8.3
aioitertools
aiosignal
alabaster
alembic==1.14.0
altair
aniso8601==9.0.1
annotated-types
anyio
appdirs==1.4.4
APScheduler==3.11.0
argon2-cffi
arrow
asgiref
astroid
astropy
asttokens
async-lru
attrs
autopep8
Babel
bcrypt
beautifulsoup4
black
bleach
bokeh
botocore==1.36.23
brotli
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorama
contourpy
cycler
Cython
dask
datasets
debugpy
decorator
defusedxml
dill
distributed
dnspython
fastapi
filelock
Flask
Flask-Cors
Flask-Migrate
Flask-RESTful
Flask-SQLAlchemy
flatbuffers
fonttools
fsspec
ftfy==6.3.0
gdown==5.2.0
gensim
gitdb
GitPython
google-pasta==0.2.0
h11
h5py
huggingface_hub
idna
imageio
imbalanced-learn
importlib-metadata
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-core
jupyter-server
jupyterlab
jupyterlab-widgets
kiwisolver
lazy-object-proxy
llvmlite
lmdb
locket
lxml
Markdown
matplotlib
mccabe
mistune
mkl-fft
mkl-random
mkl-service==2.4.0
ml-dtypes
more-itertools
mpmath
msgpack
multipledispatch
multidict
multiprocess
mypy
nbclient
nbconvert
nbformat
nest-asyncio
networkx
newsapi-python==0.2.7
nltk==3.2.4
notebook
numpy
numpydoc
oauthlib==3.2.2
openpyxl
opt_einsum==3.4.0
packaging
pandas
parsel
parso
partd
pathspec
patsy
pexpect
pickleshare
pillow
pip
pkginfo
plotly
ply
prometheus-client
protobuf==3.20.3
psutil
praw==7.8.0
prawcore==2.4.0
preprocessing==0.1.13
pydantic
pydocstyle
Pygments
PyJWT
pylint
pymongo
PyNaCl
pyparsing
PyQt5==5.15.10
PyQt5-sip
PyQtWebEngine==5.15.6
PySocks
pytest
python-dateutil
python-dotenv
python-multipart
python-slugify
pytz
PyYAML
pyzmq
requests
requests-oauthlib==1.3.1
rich
scikit-image
scikit-learn
scipy
Scrapy
seaborn
selenium
shap
six
smart-open
sniffio
soupsieve
SQLAlchemy
starlette
statsmodels
streamlit
tensorboard
tensorflow
tensorflow-intel
termcolor
terminado
text-unidecode
textdistance
threadpoolctl
tifffile
tinycss2
tokenizers
toml
torch==2.5.1
tornado
tqdm
traitlets
transformers
trio
twilio
typing-extensions
tzdata
ujson
unicodedata2
urllib3
uvicorn
watchdog
webencodings
websocket-client
Werkzeug
wheel
widgetsnbextension
wrapt
wsproto
xarray
xlwings
yapf
yarl
zipp
zope.interface
zstandard